*{
    font-family: arial;
}
.container{
    /*background-color: darkred;*/
    width: 500px;
    font-family: tahoma;
    border: 3px solid gray;
}
.encabezado{
    height: 100px;
    width: 500px;
    top: 0;
    margin-top: 10px;
    /*background-color: yellow;*/
    border-bottom: 2px solid gray;
}
.image{
    width: 500px;
    padding-left: 6px;
}
.articulo{
    /*background-color: cyan;*/
    padding: 20px;
    width: 460px;
}
