*{
    font-family: arial;
}

body 
{
    padding-bottom: 40px;
    /*background-color: #f5f5f5;*/
}

.container
{
    background-color: white;
    height: auto;
    width: auto;
    font-family: tahoma;
    border: 3px solid gray;
    padding-bottom: 10px;
}

.encabezado
{
    width: auto;
    height: 100px;
    top: 0;
    padding-top: 10px;
    /*background-color: white;*/
    border-bottom: 2px solid gray;

}

.usuario
{
    width: 35%;
    float: right;
    /*background-color: green;*/
    font-weight: bold;
}

.image
{
    width: 310px;
    margin-left: 40%;
}

.articulo
{
    /*background-color: cyan;*/
    width: 820px;
    min-height: 600px;
    max-height: auto;
    margin-left: 20%;
    margin-top: -32%;
    padding: 40px;
}

.foto
{
    width: 110px;
    left: 550px;
    /*background-color: red;*/
    float: right;
}

.pie
{
    /*background-color: blueviolet;*/
    text-align: center;
    border-top: 2px solid gray;
    padding-top: 10px;
}

#nota, #nota2
{
    font-size: 16px;
    text-align: center;
}

.menu_simple
{
    padding-top: 50px;
    width: 200px;
    background-color: white;
    font-size: 11px;
    font-weight: bold;
}

.menu_simple ul 
{
    margin: 0; 
    padding: 0;
    width: 200px;
    list-style-type: none;
}

.menu_simple ul li a 
{
    text-decoration: none;
    color: darkred; 
    padding: 10.5px 11px;
    background-color: white;
    display:block;
}
 
.menu_simple ul li a:visited
{
    color: darkred;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current 
{
    color: white;
    background-color: darkred;
}

.titulo1
{
    font-weight: bold;
}

.titulo2
{
    font-weight: bold;
    color: darkred;
}

.tabla1{
    border: 3px gray solid;
}

.tabla1 td{
    border: 1px solid;
    text-align: center;
}

#form input, select, textarea{
    width: 400px;
    margin-bottom: 20px;
}

.table-condensed{
    width: 200px;
}